.cards{
    border: 1px solid black;
    min-width: 300px; 
    min-height: 439px;
    background-size: contain;
}
.front{
    background-image: url(./RO_front.png);
   
}
.back{    
    background-image: url(./back_card_yugioh.jpg);
}
#monsterzone{
    display:flex;
    flex-direction: row;
}