.cards{
    border: 1px solid black;
    min-width: 300px; 
    min-height: 439px;
    background-size: contain !important;
}

.back{    
    background-image: url(./back_card_yugioh.jpg) !important;
}
#monsterzone1{
    display:flex;
    flex-direction: row;

}
#monsterzone2{
    display:flex;
    flex-direction: row;
}

.flip{
    transform: rotateX(180deg) rotateY(180deg);
}