#card1{
    border: 1px solid black;
    min-width: 300px; 
    min-height: 439px;
    background-image: url(./back_card_yugioh.jpg);
    background-size: contain;
}
#card2{
    border: 1px solid black;
    min-width: 300px; 
    min-height: 439px;
    background-image: url(./back_card_yugioh.jpg);
    background-size: contain;
}
#card3{
    border: 1px solid black;
    min-width: 300px; 
    min-height: 439px;
    background-image: url(./back_card_yugioh.jpg);
    background-size: contain;
}
#card4{
    border: 1px solid black;
    min-width: 300px; 
    min-height: 439px;
    background-image: url(./back_card_yugioh.jpg);
    background-size: contain;
}
#card5{
    border: 1px solid black;
    min-width: 300px; 
    min-height: 439px;
    background-image: url(./back_card_yugioh.jpg);
    background-size: contain;
}
#monsterzone{
    display:flex;
    flex-direction: row;
}